[build]
  publish = "dist"
  command = "npm run build"

[[redirects]]
  from = "/api/likes"
  to = "/.netlify/functions/likes"
  status = 200

[[headers]]
  for = "/api/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
    Access-Control-Allow-Headers = "Content-Type"
    Access-Control-Allow-Methods = "GET, POST, OPTIONS"
